*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #000;
    padding: 1rem;
    margin: 2rem 0;
    background: plum;
}

.heading span{
    color: palevioletred;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header .logo {
    font-size: 1.7em;
    color: #000;
    text-decoration: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: plum;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

 .nav a:hover::after {
    transform: scaleX(1);
}

 header .ionicons a {
    font-size: 1.5rem;
    color: #000;
    margin-left: 1.5rem;
}

 header .ionicons a:hover{
    color: plum;
}

 header #toggler{
    display: none;
}

 header .menu{
    font-size: 2rem;
    color: #000;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(253, 84, 84, 0.137);
    display: none;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/Untitled\ design\ \(4\).png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;
}

.home .content {
    max-width: 600px;
    color: #000;
}

.content h2 {
    font-size: 3.5em;
    letter-spacing: .01em;
}

.content p{
    margin: 10px 0 40px;
    font-size: 1em;
}

.content a {
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: .5s;
}

.content a:hover {
    background: plum;
}

.home .wrapper-login {
    position: relative;
    width: 440px;
}

.wrapper-login h2{
    font-size: 2em;
    color:#000;
    text-align: center;
}

.wrapper-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #000;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #000;
    padding: 0 25px 0 45px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}


.input-box .icon{
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #000;
}

.wrapper-login .remember-forgot{
    font-size: .9em;
    color: #000;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #1e0b04;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, purple, plum);
    box-shadow: 0 8px 10px rgba(0,0,0, .5);
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.wrapper-login .register-link {
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 30px 0;
}

.register-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}


.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icons-container .icons{
    background: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 10rem;
}

.icons-container .icons img{
    height: 5rem;
    margin-right: 5rem;
}

.icons-container .icons h3{
    color: #333;
    padding-bottom: .3rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color: #555;
    font-size: 1.3rem;
}

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex: 1 1 25rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border-radius: .5rem;
    border: .5rem solid rgba(0,0,0, .1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .ion{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .ion{
    bottom: 0;
}

.products .box-container .box .image .ion a{
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    width: 50%;
    background-color: pink;
    color: #fff;
}

.products .box-container .box .image .ion .cart{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}


.products .box-container .box .image .ion a:hover{
    background: plum;
}

.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: pink;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: pink;
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: gray;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 0 .5 25rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border-radius: .5rem;
    border-radius: .5rem;
    padding: 2rem 1rem;
    position: relative;
}
.review .box-container .box .quote{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 5rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: plum;
    font-size: 2rem;
}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: pink;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color: plum;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    border: 1rem solid rgba(0,0,0, .1);
    background: #fff;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: pink;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer .box-container{
    display: flex;
    
    gap: 1rem;
}

.footer .box-container .box{
    flex: 1 .5 15rem;
}

.footer .box-container .box h3{
    color: rgb(31, 29, 29);
    font-size: 2rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: gray;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: plum;
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #333;
    
}

.footer .credit span{
    color: pink;
}





































@media (max-width:768px){


     header .menu{
        display: block;
     }

     header .nav{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }

     header #toggler:checked ~ .nav{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     }
     

     header .nav a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
     }

     .heading{
        font-size: 3rem;
     }
}

@media (max-width:450px){

    html{
        font-size: 50%;
      }
}